body {
  margin: 0;
  overflow: hidden;
  background: black;
  /*font-family: "Matrix", sans-serif; */
  font-family: "Noto Serif JP", serif;
}
canvas {
  display: block;
  font-family: "Noto Serif JP", serif;
}
